.custom-placeholder::placeholder {
    font-size: 1.25rem;
  }
  .sp {
    display: none;
  }
  .drp{
    position:absolute;
    top:4rem;
    right: 1rem;
    width: 110px;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
}
.drp::before{
    content: '';
    position: absolute;
    top: -2rem;
    right: 2rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.menu{
    position:absolute;
    top:4rem;
    right: 11rem;
    width: 110px;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
}
.menu::before{
    content: '';
    position: absolute;
    top: -2rem;
    right: 2rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.hideArrow {
    display: none;
  }
  .italic{
    font-style: italic;
  }
  @media (min-width: 970px) {
    .sp {
      display: inline-block; 
    }
  }